* {
    margin: 0;
    padding: 0;
}
.homePage {
    display: flex;
    flex-direction: row;
}
.sideNav {
    border-right: 1px solid rgb(221, 0, 0);
    width: 20%;
}
.timeLine {
    width: 80%;
}
.cards {
    box-sizing: border-box;
    border-right: 1px solid white;
    padding-left: 12%;
    width: 65%;
}
