* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navContainer {
	position: fixed;

	margin: 1rem 0 0 1rem;
	height: 95vh;
}
.nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.name {
	font-size: 2rem;
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 50%;
}
.listItem {
	list-style: none;
	color: white;
	font-size: 1.5rem;
}
.linkItem {
	text-decoration: none;
	color: white;
}
.more {
	position: absolute;
	bottom: 3%;
	left: 10%;
	font-size: 1.7rem;
}
